<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <br> <br>
    <section class="main">
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Productos</a></li>
        </ul>

        <div class="setOfCards" id="setOfCards">
            <% products.forEach(hat => { %>
                <div class="card">
                    <img src="/img/<%= hat.image  %>" alt="">
                    <p class="card--title"><%= hat.name %></p>
                    <hr class="card--line">
                    <p class="card--description"> <%= hat.description %> </p>
                    <a href="/producto/detalle/<%= hat.id %>">
                        <div class="card--btn">VER MÁS</div>
                    </a>
                </div>     
             <% }); %> 
        </div>
    </section>

    <br><br>

<%- include('./partials/footer.ejs') %>